.App {
  text-align: left;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.con {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 5px;
  align-items: stretch;
}

.container {
  height: 300px;
  width: 450px;
  border: #000000 5px solid;
  padding: 0;
  position: relative;
  background-color: rgb(156, 212, 194);
  border-radius: 5px;
  align-self: center;
}

.textbox {
  height: 300px;
  width: 250px;
  margin-left: 10px;
  border: #000000 5px solid;
  padding: 0;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  align-self: flex-start;
  color: red;
  font-size: 15px;
  text-align: center;
  display: grid
}

.fbtn {
  border-radius: 10px;
  width: 200px;
  height: 45px;
  margin-bottom: 25px;
  background-color: rgb(184, 43, 43);
  box-shadow: black 2px 2px;
  transition: 0.2s all;
}

.fbtn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.input {
  margin: 15px;
  height: 30px;
  background-color: #b9fdb0b2;
  text-align: center;
}


.p1 {
  position: absolute;
  left: 200;
  right: 0;
}

.p2 {
  position: absolute;
  left: 0;
  right: 200;
  bottom: 0;
}

.pname1 {
  position: absolute;
  right: 230px;
  top: 15px;
  background-color: rgba(255, 228, 196, 0.808);
  color: black;
  height: 60px;
  width: 200px;
  border-top-left-radius: 8px;
  border: 4px solid rgb(6, 61, 6);
  box-shadow: #282c34 10px;
  font-size: 22px;
}

.pname2 {
  position: absolute;
  left: 230px;
  bottom: 15px;
  background-color: rgba(255, 228, 196, 0.808);
  color: black;
  height: 60px;
  width: 200px;
  border-top-left-radius: 8px;
  border: 4px solid rgb(6, 61, 6);
  font-size: 22px;
}