.App {
  text-align: center;
}

.maincontainer {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
  padding: 10px;
  box-shadow: #6975a8 3px 3px 3px;
  border-radius: 15%;
  max-width: 60%;
  min-width: fit-content;
  min-height: fit-content;
  margin: 0;
  align-self: center;
  justify-self: center;
  margin-bottom: 10%;
}

.modalcontainer {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000000ec;
  display: flex;
}

.modal {
  background-color: #ffffff;
  color: #000000;
  border: solid black 3px;
  padding: 10px;
  box-shadow: #6975a8 5px 5px 5px;
  border-radius: 8%;
  min-width: 50%;
  min-height: 50%;
  margin: 0;
  align-self: center;
  justify-self: center;
  margin-top: 20%;
  margin-left: 30%;
}

.mainheader {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
  padding: 10px;
  box-shadow: #6975a8 3px 3px 3px;
  align-self: flex-start;
  width: 100%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: row;
}

.mainfooter {
  background-color: #6975a865;
  color: #000000;
  border-color: #000000;
  padding: 10px;
  box-shadow: #6975a8 3px 3px 3px;
  width: 100%;
  font-size: 15px;
  padding: 0;
  align-self: flex-end
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}