.header {
    font-size: 30px;
}

.input {
    background-color: #6975a883;
    border-color: #000000;
    border-radius: 6px;
    text-align: center;
}

.button {
    background-color: #6975a8c0;
    border-radius: 16px;
    margin-top: 15%;
}